@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Kristi&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;

  --primary-color: hsl(120, 100%, 50%);

  --primary-font-color: hsl(0, 0%, 100%);
  --secondary-font-color: hsl(0, 0%, 70%);

  --primary-font: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --secondary-font: "Monoton", sans-serif;
  --tertiary-font: "Kristi", cursive;
}

:root {
  height: 100%;
  background: black;
  color-scheme: dark light;
  user-select: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  display: grid;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}