.home__content {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    padding: 4rem;
}

.home__text {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    max-width: 60ch;
}

.home__title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: fit-content;
    margin: 0;
    color: white;
    font-size: 3rem;
    font-family: var(--secondary-font);
    font-weight: normal;
}

.home__title-bottom>span {
    margin-left: 1rem;
    padding: 0.2rem;
    vertical-align: top;
    background: linear-gradient(90deg, hsl(0, 0%, 50%), hsl(0, 0%, 5%) 80%, var(--primary-color));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: var(--tertiary-font);
    animation: home__move-background 5s linear infinite;
}

@keyframes home__move-background {
    100% {
        background-position: -200%;
    }
}

.home__projects {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2rem;
}

@media (max-width: 1100px) {
    .home__content {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .home__text {
        align-items: center;
    }
}